<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mondiali</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css" />
</head>
<body>
    <div class="container">

        <h1>Mondiali Russia 2k18</h1>
        <div class="form-container">

            {% if teams %}
                <form method="POST">
                    <select name="first_team">
                        {% for team in teams %}
                        <option value="{{ team[0] }}">{{ team[1] }}</option>
                        {% endfor %}
                    </select>

                    <select name="second_team">
                        {% for team in teams %}
                        <option value="{{ team[0] }}">{{ team[1] }}</option>
                        {% endfor %}
                    </select>

                    <button type="submit">Chi vince?</button>
                </form>
            {% elif winning_team %}
                <h2>The winner is <span id="winner">{{ winning_team }}</span></h2>
            {% endif %}
        </div>
    </div>
</body>
</html>